$color-100: #F6F6F6;
$color-200: #FFFFFF;
$color-300: black;
$color-skip:#989898;
$color-button:#D9D9D9;
$color-400:#CBC9C9;
$color-85:#DEDDDC;
$color-ee:#CCCCCC;
$color-dennhat:#1E1D1D;
$color-primary:#FC0303;
$color-primary1:#F50E0E;
$color-danger:#1ED90E;
$color-gray: #FFFCFC;
$color-pink: #f08080;
$color-register:#AE18E2;

$fw-1: 100;
$fw-2: 200;
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;